/***********************************
			GLOBAL STYLES
***********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	width: 100%;
	font-family: 'agency fb';
	background-position: center;
	background-size: 100%;
	background-color: #000;
	overflow-x: hidden;
}

/***********************************
	STARS/GALAXY BACKGROUND IMAGE
***********************************/

#stars {
	position: absolute;
	z-index: -5;
	height: 100vh;
	width: 99vw;
	margin: 0 auto;
	bottom: 0;
	top: 0;
}

/***********************************
	TOP LEFT SIDE TEXT
***********************************/

.wrapper .logo {
	position: relative;
	top: 0;
	left: 0;
	opacity: .8;
	width: 14.5vw;
}

.logo {
	flex: 0 0 50%;
	background: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo h1 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 3vw;
	line-height: 1;
	color: #fff;
}

.logo-mobile {
	display: none;
}

.dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	padding: 10px;
	background: transparent;
}

/***********************************
		ROTATING EARTH IMAGE
***********************************/

#earth {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:500px;
	height: 500px;
	background: url('../images/globe6.jpg') repeat;
	border-radius: 50%;
	background-size: 1200px;
	z-index: -1;
	/*animation: rotate 30s linear alternate infinite;*/

	animation-name: rotate;
	  animation-duration: 22s;
	  animation-iteration-count: infinite;
	  animation-timing-function: linear;
	  -webkit-animation-name: rotate;
	 -webkit-animation-duration: 22s;
	 -webkit-animation-iteration-count: infinite;
	 -webkit-animation-timing-function: linear;

}


@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1200px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 600px 0px;
  }
}


ul {
	list-style: none;
}

.nav {
	width: 200px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/***********************************
		GO GLOBAL TEXT
***********************************/

.text-global {
	position: absolute;
	top: 30%;
	right: 9.8vw;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border:1px solid blue;
	padding: 10px;
}

.text-global .title {
	font-size: 6vw;
	color: #fff;
}

.text-global p {
	font-size: 1.5vw;
}

.text-mobile {
	display: none;
}

/***********************************
		ROTATING ELLIPSE
***********************************/

.ellipse-container-mobile {
	display: none;
}

.ellipse-container {
	width: 608px;
	height: 608px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	margin: 0 auto;
	z-index: -1;
}

.ellipse {
	position: absolute;
	top: 0;
	left: 12px;
	border-radius: 50%;
	border-style: solid;
}

.ellipse.thick {
	width: 93%;
	height: 93%;
	border-width: 10px;
	border-color: #fff;
	transform: rotate(-45deg);
	top: 22px;
	left: 22px;
}

.ellipse.blue {
	width: 93%;
	height: 93%;
	border-width: 10px;
	border-color: blue #fff;
	transform: rotate(-45deg);
	top: 22px;
	left: 22px;
	animation: ellipseRotate 15s linear infinite;
}

@keyframes ellipseRotate {
	0% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}

/***********************************
	CIRCLES ON ROTATING GLOBE
***********************************/

.circle1,
.circle2 {
	border-style: solid;
	width: 64px;
	height: 64px;
	border-width: 1px;
	border-color: rgba(255,255,255,.5);
	border-radius: 50%;
	position: absolute;
}

.circle1 {
	top: 150px;
	left: 150px;
}

.circle2 {
	bottom: 150px;
	right: 150px;
}

.circle1::before, 
.circle1::after,
.circle2::before,
.circle2::after {
	content: "";
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.circle1::before,
.circle2::before {
	width: 12px;
	height: 12px;
	background: #fff;
	z-index: 1;
}

.circle1::after,
.circle2::after {
	width: 40px;
	height: 40px;
	background: blue;
}

.circle1 span,
.circle2 span {
	position: absolute;
	color: #fff;
	top: 25px;
	width: 87px;
	font-size: 14px;
}

.circle1 span {
	left: 75px;
}

.circle2 span {
	left: -90px;
	
}

/***********************************
	OVERLAY ON SPLASH PAGE
***********************************/

.overlay2 {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: blue;
	opacity: 1;
	top: 0%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.overlay2 h1 {
	font-size: 100px;
	letter-spacing: 20px;
	color: #fff;
}

.overlay2 span {
	font-size: 30px;
	letter-spacing: 3px;
	color: #fff;
}

/***********************************
		GET WEATHER BUTTON
***********************************/

.weatherBtn {
	position: fixed;
	top: 60%;
	right: 0;
	width: 13.5vw;
	text-align: center;
	padding: 0;
	margin: 0;
	transform: translateY(-50%);
	z-index: 10;
}

.weatherBtn button {
	position: fixed;
	top: 60%;
	text-decoration: none;
	color: #fff;
	background: blue;
	font-size: 1.5vw;
	font-weight: 300;
	text-transform: uppercase;
	border: none;
	right: 0;
	width: 14.5vw;
	padding: 10px;
	outline: none;
}

.weatherBtn button:hover {
	cursor: pointer;
	background: #fff;
	color: blue;
}

/***********************************
		WEATHER INPUT TOOLTIP
***********************************/

.temp span {
	opacity: 1;
}

.weatherToolTip {
	position: relative;
	font-size: 1.5rem;
}

.weatherToolTip input {
	height: 2rem;
}


.open-btn {
	font-size: 1vw;
	outline: none;
	border: 1px solid #000;
	border-radius: 10px
	background: #fff;
	color: #000;
	cursor: pointer;
}

.weatherToolTip::before, .weatherToolTip::after {
	--scale: 0;
	--arrow-size: 10px;
	--tooltip-color: blue;

	position: absolute;
	top: -.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
	transition: 150ms transform;
	transform-origin: bottom center;
}

.weatherToolTip::before {
	--translate-y: calc(-100% - var(--arrow-size));
	content: attr(data-tooltip);
	color: #fff;
	padding: .5rem;
	width: max-content;
	max-width: 65%;
	border-radius: .3rem;
	background: var(--tooltip-color);
	text-align: center;
}

.weatherToolTip:hover::before, .weatherToolTip:hover::after {
	--scale:1;
}

.weatherToolTip::after {
	--translate-y: calc(-1 * var(--arrow-size));

	content: '';
	border:var(--arrow-size) solid transparent;
	border-top-color: var(--tooltip-color);
	transform-origin: top center;
}

.weatherToolTip input {	
		width: 100%;
	}

/***********************************
		WEATHER API OUTPUT
***********************************/

.city-date-temp {
		display: flex;
		margin-left: 1.4rem;
		padding-top: 10px;
		color: #fff;
	}

	.city-date-temp, .city, .date, .temp, .weather {
		padding-right: 1rem;
		font-size: 4vw;
	}

/***********************************
	WEATHER MODAL POP-UP
***********************************/

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: .01s ease-in-out;
	border:1px solid #fff;
	border-radius: 5px;
	z-index: 15;
	background: blue;
	width:90vw;
	height: auto;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);

}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #fff;
}

.modal-header .title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	padding-left: 25px;
}

.modal-header .close-button {
	position: relative;
	cursor: pointer;
	border: none;
	outline: none;
	right: 5px;
	background: none;
	color: #fff;
	font-size: 1.25rem;
	font-weight: bold;
	width: 25px;
}

.modal-body {
	padding: 10px 15px;
}

/***********************************
		WEATHER OVERLAY
***********************************/

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

/***********************************
		NEWS SEARCH BOX
***********************************/

.container2 {
	position: fixed;
	top: 60vh;
	left: -200px;
	width: 14.5vw;
	background: blue;
	text-align: center;
	padding: 10px 0;
}

.search-news h2 {
	color: #fff;
	text-align: center;
	font-size: 2.5vw;
	font-weight: 600;
	width: 12vw;
	margin: 0 auto;
}

#search-news, h3, select, button {

		text-align: center;
		font-size: 1.5vw;
		font-weight: 600;
		width: 12vw;
	}

	#key {
		display: inline-block;
		text-align: center;
		font-size: 1.5vw;
		max-width: 12vw;
		margin-bottom: 2%;
	}

	#fact {
		display: none;
	}

	.title{
		font-weight: bold;
	}

	.list-wrapper{
		color: #1d1d1d;
	}

	input {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

    #lanSelect {
		margin-bottom: 2%;
	}

	#lanSelect:hover {
		cursor: pointer;
	}

	#getPosts {
		display: inline-block;
		font-size: 1.5vw;
		margin-top: .5vw;
		color: #fff;
		background: blue;
		padding: 5px;
		text-decoration: none;
		border-radius: 45px;
		border:1px solid #fff;
		width: 8vw;
		font-weight: 300;
	}

	#getPosts:hover {
		cursor: pointer;
		background: #fff;
		border:1px solid #fff;
		color: blue;
	}

	#output {
		opacity: 0;
		transition: all 1.5s ease;
	}

	#output.fadeInNews {	
		opacity: 1;
	}

	main {
		display: flex;
		width: 100vw;
		margin-top: 0;
	}

	main div h2 {
		text-align: center;
		margin: 0 auto;
		padding: 20px;
	}

	strong {
	display: block;
}

#search-results {
	text-align: center;
	padding: 20px;
	font-size: 2.5vw;
	color: #fff;
	background: blue;
	border-bottom: 5px solid #fff;
}

/***********************************
		NEWS API OUTPUT
***********************************/

.output-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
	cursor: pointer;
	width: 69vw;
	margin-left: 14.88vw;
}

.list-group {
	list-style: none;
	padding: 2rem;
	transition: transform 1s;
}

.list-group:hover {
	transform: translateY(-10px);
}

.list-group-item:nth-child(odd) {
	background-color: #000;
}

.list-group-item {
	border-bottom: 1px solid blue;
}

.list-group .list-wrapper li {
	color: #fff;
}

.list-group-item img {
	width: 100%;
	height: auto;
	border-left: 5px solid blue;
}

.list-group-item span {
	text-align: left;
}

.list-group .list-wrapper li {
	text-align: left !important;
}

.news-span {
	opacity: 1;
}

/***********************************
		FOOTER
***********************************/

footer {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0;
	width: 100vw;
	height: 11vh;
	background-color: blue;
}

footer p {
	text-align: center;
	padding: 3vw;
	color: #fff;
	background: blue;
}

/***********************************
		MOBILE HTML
***********************************/

#earth-mobile {
	position: relative;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:30vw;
	height: 30vw;
	background: url('../globe6.jpg') repeat;
	border-radius: 50%;
	background-size: 1200px;
	z-index: -1;
}

.mobile-p-text {
	display: none;
}

.container2-mobile {
	display: none;
}

/***********************************
		MEDIA QUERIES
***********************************/

@media (max-width: 1000px) {

/****splash page*****/

	.overlay2 h1 {
	font-size: 7vw;
	letter-spacing: 4%;
}

/****rotating ellispse*****/

	.ellipse-container {
		width: 500px;
		height: 500px;
		padding-top: 20px;
		padding-left: 15px;
	}

	#earth {
		width: 400px;
		height: 400px;
	}

	.circle1 {
	top: 170px;
	left: 110px;
}

.circle2 {
	bottom: 120px;
	right: 120px;
}

.text-global .title {
	font-size: 6vw;
}

.text-global {
	top: 38%;
}

}

/***********************************
		MOBILE MEDIA QUERIES
***********************************/

@media (max-width: 750px) {
	.ellipse-container {
	display: none;
}

/****rotating ellipse*****/

.ellipse-container-mobile {
	display: block;
	width: 350px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	margin: 0 auto;
	z-index: -1;
}

.ellipse-mobile {
	position: absolute;
	top: 0;
	left: 12px;
	border-radius: 50%;
	border-style: solid;
}

.ellipse, .ellipse.thick, .ellipse.blue {
	display: none;
}

#earth-mobile {
	position: absolute;
	display: inline;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:60vw;
	height: 60vw;
	background: url('../images/globe6.jpg') no-repeat;
	border-radius: 50%;
	border-bottom: 8px solid #fff;
	border-left: 8px solid blue;
	border-top: 8px solid #fff;
	border-right: 8px solid blue;
	background-size: 1200px;
	z-index: -1;
}

.text-global {
	display: none;
}

.text-mobile {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	background: rgba(0,0,0,0.5);
	border:1px solid blue;
	padding: 10px;
	width: 66vw;
}

.text-mobile .title-mobile {
	font-size: 30px;
	color: #fff;
}

.mobile-p-text {
	display: block;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

/****news search box*****/

.container2 {
	display: none;
}

.container2-mobile {
	display: flex;
	position: fixed;
	top: 0;
	right: -644px;
	width: 100vw;
	padding-right: 20px;
	background-color: rgba(0,0,0,.8);
	padding-top: 10px;
	padding-left: 15px;
	z-index: 10;
}

.container2-mobile, .search-news {
	padding-right: 10px;
}

.container2-mobile .search-news h2 {
	font-size: 4vw;
	text-align: left;
	/*margin-left: 13px;*/
}

#keyMobile {
	height: 5.3vh;
	width: 33vw;
}

#getPostsMobile {
	font-size: 3.6vw;
	display: block;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding:5px;
	width: 13vw;
	text-align: center;
	/*margin-right: 20px;*/
}

/*.container2-mobile .news-container a {
	font-size: 5vw;
	display: block;
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
	padding:5px;
	/*margin-right: 20px;
}*/

.container2-mobile .news-container a:hover {
	color: blue;
	border: 1px solid blue;
}


#lanSelectMobile {
	font-size: 3.5vw;
	width: 20vw;
	height: 5.3vh;
}
/****get weather button*****/

.weatherBtn {
	position: fixed;
	top: 10%;
	padding-top: 10px;
	z-index: 10;
}

.weatherBtn button {
	color: #fff;
	background: blue;
	font-size: 3vw;
	width: 25vw;
	padding: 10px;
	margin-right: 12px;
}

/****news search box*****/

#search-results {
	visibility: hidden;
}

/****news search api output*****/

.output-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
	cursor: pointer;
	width: 95vw;
	margin: 0 auto;
}

/****top left text*****/

.logo {
	display: none;
}

.logo-mobile {
	position: absolute;
	/*margin-top: 25vh;*/
	top: 50%;
	transform: translateY(-50%);
	display: block
	flex: 0 0 50%;
	background: blue;
	display: flex;
	width: 7%;
	padding: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo-mobile h1 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 3vw;
	line-height: 2;
	color: #fff;
}

}